services:
    minio:
        image: minio/minio:latest
        platform: linux/arm64
        command: server /data --consolde-address ":9001"
        environment:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
        ports:
          - '9000:9000'
          - '9001:9001'
        volumes:
          - minio-data: /data
        networks:
          - airflow
          - default
        heathcheck:
          test: ['CMD','curl','-f','http://localhost:9000/minio/health/live']
          interval: 30s
          timeout: 20s
          retries: 3
        restart: unless-stopped

    minio-mc:
      image: minio/mc:latest
      platform: linux/arm64
      depends-on:
        minio:
          condition: service_healthy
      entrypint: >
        /bin/sh -c "
        mc alias set myminio http://minio:9000 minioadmin minioadmin;
        mc mb myminio/mlflow-artifact || true;
        mc anonymous set public myminio/mlflow-artifact
        exit 0;
        "
    
    mlflow:
      image: python:3.11-slim
      platform: linux/arm64
      command: >
        bash -c "pip install mlflow==2.9.2 psycopg2-binary boto3 &&
                 export MLFLOW_S3_ENDPOINT_URL=http://minio:9000 &&
                 mlflow server --host 0.0.0.0 --port 5001
                 --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow
                 --default-artifact-root s3://mlflow-artifacts/
                 --server-artifacts"
      ports:
        - '5001:5001'
      environment:
        - AWS_ACCESS_KEY_ID=minioadmin
        - AWS_SECRET_ACCESS_KEY=minioadmin
        - AWS_DEFAULT_REGION=us-east-1
        - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      depends_on:
        - mlflow-db
        - minio
      networks
        - airflow
        - default

    mlflow-db:
      image: postgres:16-alpine
      platform: linux/arm64
      environment:
        - POSTGRES_USER=mlflow
        - POSTGRES_PASSWORD=mlflow
        - POSTGRES_DB=mlflow
      volumes:
        - mlflow-db-volume:/var/lib/postgresql/data
      healthcheck:
        test: ['CMD','pg_isready','-U', 'mlflow']
        interval: 5s
        timeout: 5s
      networks:
          - airflow
          - default
      restart: unless-stopped
    
    volumes:
      minio-data:
      mlflow-db-volume:

    networks:
        airflow:
          external: true
          name: