# ML and Data Processing
pandas
mumpy
scipy
scikit-learn
xgboost
lightdbm
prophet
statsmodels


# MLflow for experiment tracking
mlflow
boto3


# Data validation
pandera

# Feature engineering
category-encoders


#Model serving and API
fastapi
uvicorn
pydantic
httpx

# Visulaitzation
matplotlib
seaborn
plotly

# database connection
sqlalchemy
psycopg2-binary

# Cloudstorage
s3fs

# Testing
pytest

# Additional utilties
python-dotenv
pyyaml
joblib
optuna
shap
holidays


# ui
streamlit